.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*.log
.dist
.turbo
.npmrc
.pnpm-store/
# Generated declaration files for test harnesses
/tests/*.d.ts
